*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build

.project
.setting
.vscode

*.class
*.apk




.settings/
DesignPatterns/.classpath
DesignPatterns/.settings/
HttpClient-RxJava1-X/.classpath
HttpClient-RxJava1-X/.settings/
JavaExecutor/.classpath
JavaExecutor/.settings/
RxJava/build/
RxJava2-Retorfit2/.classpath
RxJava2-Retorfit2/.settings/
RxJava2-Retorfit2/libs/
app/.classpath
app/.settings/
