<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huyifei.mymvp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GlideActivity" />
        <activity android:name=".architecture.mvc.MVCActivity" />
        <activity android:name=".architecture.mvp.MVPActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverActivity" />

        <receiver
            android:name=".broadcastreceiver.MyReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".broadcastreceiver.SecondReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".broadcastreceiver.ThirdReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity android:name=".memoryleak.MemoryLeakActivity" />
        <activity
            android:name=".classloader.ClassLoaderActivity"
            android:label="@string/title_activity_class_loader"
            android:theme="@style/AppTheme" />
        <activity android:name=".classloader.SimpleHotFixActivity" />
        <activity android:name=".test.HashMapActivity" />
        <activity android:name=".LifeCycleActivity" />

        <service
            android:name=".service.ipc.CustomRemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity android:name=".service.ipc.AIDLActivity" />
        <activity android:name=".service.ThreadLocalTestActivity" />
        <activity android:name=".handler.HandlerOneActivity" />
        <activity android:name=".handler.HandlerTwoActivity" />
        <activity android:name=".databind.ContentActivity" />
        <activity android:name=".JacksonActivity" />
        <activity android:name=".datastorage.RoomActivity" />
    </application>

</manifest>