<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.smart.fly.rxandroid">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".RxAndroidActivity"/>
        <activity android:name=".RxJavaDemoActivity"/>
    </application>

</manifest>
